<style>
img {
  border: 1px solid silver;
  padding: 0px;
  margin: 0px;
}

h1 {

}
</style>

<div align="center" style=" margin: 60px">
    
    <div style="border: 1px solid silver; padding: 10px">
            <img src="{{qrcodedata}}"> 
       
    </div>

    <div style="border: 1px solid silver;">
    <h3>TYPE:</h3>
    <h1><b>{{typology}}</b></h1>
    <h3>NOTE:</h3>
    <h1> <b>{{note}}</b></h1>
    </div>
</div>



